---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
import BackgroundComics from "../components/BackgroundComics.astro";

const theme = "redfire";
---

<Layout theme={theme} title="Accueil - Portfolio Bryan Thierry">
  <Hero />
  <section class="pt-15 pb-20">
    <div class="flex items-center justify-center mb-5">
      <h2 class="text-black">MES SERVICES</h2>
    </div>
    <div class="mx-4 md:mx-25">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-2 place-items-center mx-auto"
      >
        <Card
          imgSrc="/public/card/icon_sur-mesure.webp"
          imgAlt="Site web sur-mesure"
          theme={theme}
        >
          <h3 class="mb-2 text-center flex justify-center">
            Sites web sur mesure
          </h3>
          <p class="">
            Je conçois des sites web uniques, pensés pour vous et votre
            activité.
          </p>
        </Card>
        <Card
          imgSrc="/public/card/icon_refonte.webp"
          imgAlt="Refontes de sites"
          theme={theme}
        >
          <h3 class="mb-2 text-center flex justify-center">
            Refontes de sites
          </h3>
          <p class="">
            Je redonne vie à votre site pour qu'il soit moderne, rapide et
            agréable à utiliser.
          </p>
        </Card>
        <Card
          imgSrc="/public/card/icon_wordpress.webp"
          imgAlt="Site web sur-mesure"
          theme={theme}
        >
          <h3 class="mb-2 text-center flex justify-center">Wordpress</h3>
          <p class="">
            Je redonne vie à votre site pour qu'il soit moderne, rapide et
            agréable à utiliser.
          </p>
        </Card>
      </div>
    </div>
  </section>
  <section class="bg-black pt-15 pb-20">
    <div class="flex items-center justify-center mb-5">
      <h2 class="text-4xl text-[var(--color-white)] font-primary">
        MES PROJETS
      </h2>
    </div>
    <div class="mx-4 md:mx-16">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-4 place-items-center">
        <!-- Projet 1 - EchoSafe -->
        <div
          class="w-full max-w-[350px] h-[220px] flex items-center justify-center overflow-visible relative group cursor-pointer"
          data-theme="blue"
        >
          <BackgroundComics />
          <img
            src="/mes-projets/mes-projets_echosafe.webp"
            alt="EchoSafe Project"
            class="absolute z-10 h-[220px] object-cover drop-shadow-2xl transform transition-all duration-300 group-hover:h-[250px]"
          />
          <div
            class="absolute z-30 bg-black opacity-0 group-hover:opacity-50 transition-all duration-300 w-[340px] h-[210px] group-hover:w-[380px] group-hover:h-[250px] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
          >
          </div>
          <div
            class="absolute inset-0 z-40 flex items-center justify-center comics-glow-hover-link"
          >
            <h3
              class="text-white text-2xl font-primary opacity-0 group-hover:opacity-100 transition-all duration-300 group-hover:scale-105 group-hover:-rotate-1 comics-glow-hover-link"
            >
              ECHOSAFE
            </h3>
          </div>
        </div>
        <!-- Projet 2 - Omnisphere -->
        <div
          class="w-full max-w-[350px] h-[220px] flex items-center justify-center overflow-visible relative group cursor-pointer"
          data-theme="pink"
        >
          <BackgroundComics />
          <img
            src="/mes-projets/mes-projets_omnisphere.webp"
            alt="Omnisphere Project"
            class="absolute z-10 h-[220px] object-cover drop-shadow-2xl transform transition-all duration-300 group-hover:h-[250px]"
          />
          <div
            class="absolute z-30 bg-black opacity-0 group-hover:opacity-50 transition-all duration-300 w-[340px] h-[210px] group-hover:w-[380px] group-hover:h-[250px] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
          >
          </div>
          <div
            class="absolute inset-0 z-40 flex items-center justify-center comics-glow-hover-link"
          >
            <h3
              class="text-white text-2xl font-primary opacity-0 group-hover:opacity-100 transition-all duration-300 group-hover:scale-105 group-hover:-rotate-1 comics-glow-hover-link"
            >
              OMNISPHERE
            </h3>
          </div>
        </div>
        <!-- Projet 3 - CavaTrailer -->
        <div
          class="w-full max-w-[350px] h-[220px] flex items-center justify-center overflow-visible relative group cursor-pointer"
          data-theme="redfire"
        >
          <BackgroundComics />
          <img
            src="/mes-projets/mes-projets_cavatrailer.webp"
            alt="CavaTrailer Project"
            class="absolute z-10 h-[210px] object-cover drop-shadow-2xl transform transition-all duration-300 group-hover:h-[250px] group-hover:-translate-x-[10px]"
          />
          <div
            class="absolute z-30 bg-black opacity-0 group-hover:opacity-50 transition-all duration-300 w-[340px] h-[210px] group-hover:w-[380px] group-hover:h-[250px] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 group-hover:-translate-x-[calc(50%+10px)]"
          >
          </div>
          <div
            class="absolute inset-0 z-40 flex items-center justify-center comics-glow-hover-link"
          >
            <h3
              class="text-white text-2xl font-primary opacity-0 group-hover:opacity-100 transition-all duration-300 group-hover:scale-105 group-hover:-rotate-1 comics-glow-hover-link"
            >
              CAVATRAILER
            </h3>
          </div>
        </div>
        <!-- Projet 4 - RBA -->
        <div
          class="w-full max-w-[350px] h-[220px] flex items-center justify-center overflow-visible relative group cursor-pointer"
          data-theme="sunset"
        >
          <BackgroundComics />
          <img
            src="/mes-projets/mes-projets_rba.webp"
            alt="RBA Project"
            class="absolute z-10 h-[220px] object-cover drop-shadow-2xl transform transition-all duration-300 group-hover:h-[250px]"
          />
          <div
            class="absolute z-30 bg-black opacity-0 group-hover:opacity-50 transition-all duration-300 w-[340px] h-[210px] group-hover:w-[380px] group-hover:h-[250px] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
          >
          </div>
          <div
            class="absolute inset-0 z-40 flex items-center justify-center comics-glow-hover-link"
          >
            <h3
              class="text-white text-2xl font-primary opacity-0 group-hover:opacity-100 transition-all duration-300 group-hover:scale-105 group-hover:-rotate-1 comics-glow-hover-link"
            >
              RBA
            </h3>
          </div>
        </div>
        <!-- Projet 5 - 12 Fragments -->
        <div
          class="w-full max-w-[350px] h-[220px] flex items-center justify-center overflow-visible relative group cursor-pointer"
          data-theme="forest"
        >
          <BackgroundComics />
          <img
            src="/mes-projets/mes-projets_12-fragments.webp"
            alt="12 Fragments Project"
            class="absolute z-10 h-[210px] object-cover drop-shadow-2xl transform transition-all duration-300 group-hover:h-[250px]"
          />
          <div
            class="absolute z-30 bg-black opacity-0 group-hover:opacity-50 transition-all duration-300 w-[340px] h-[210px] group-hover:w-[380px] group-hover:h-[250px] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
          >
          </div>
          <div
            class="absolute inset-0 z-40 flex items-center justify-center comics-glow-hover-link"
          >
            <h3
              class="text-white text-2xl font-primary opacity-0 group-hover:opacity-100 transition-all duration-300 group-hover:scale-105 group-hover:-rotate-1 comics-glow-hover-link"
            >
              12 FRAGMENTS
            </h3>
          </div>
        </div>
        <!-- Projet 6 - À venir -->
        <div
          class="w-full max-w-[350px] h-[220px] bg-black border-2 border-white flex items-center justify-center overflow-hidden"
        >
          <span class="text-white text-2xl font-primary">À VENIR</span>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-10 pb-25">
    <div class="flex items-center justify-center mb-5">
      <h2 class="text-black">À PROPOS</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-0">
      <div
        class="order-1 md:order-2 flex justify-center items-center mb-6 md:mb-0"
      >
        <img
          src="/public/avatar/a-propos.webp"
          alt="Photo de Bryan Thierry"
          class="object-contain h-full w-full max-h-[450px] max-w-[400px] brightness-90 contrast-110 mx-auto"
        />
      </div>
      <div
        class="order-2 md:order-1 px-4 md:pl-10 flex flex-col gap-4 mb-6 md:mb-0"
      >
        <h3 class="">Salut, moi c’est Bryan !</h3>
        <p>
          Webdesigner & Développeur Front-End, j’aime créer des contenus
          numériques qui ont du sens.
        </p>
        <p>
          Je m'investis dans chaque projet pour vous aider à vous démarquer en
          ligne. J'accorde une grande importance à l'expérience utilisateur, au
          design écoresponsable et à l'optimisation SEO.
        </p>
        <p>
          Que vous ayez un projet complet ou juste besoin d’un coup de main, je
          m’adapte à vous, j’écoute vos envies et je trouve la solution qui vous
          ressemble.
        </p>
        <div class="w-full flex justify-center">
          <Button
            label="Voir mes projets"
            href="#a-propos"
            className="text-black"
            theme={theme}
          />
        </div>
      </div>
      <div
        class="order-3 md:order-3 grid grid-rows-3 justify-center gap-8 md:gap-0"
      >
        <div class="flex flex-col items-center text-center">
          <h3>Ma promesse</h3>
          <div>Expérience Utilisateur (UX)</div>
          <div>Site Ultra-Rapide</div>
          <div>Identité Visuelle</div>
        </div>
        <div class="flex flex-col items-center text-center">
          <h3>Ma promesse</h3>
          <div>Expérience Utilisateur (UX)</div>
          <div>Site Ultra-Rapide</div>
          <div>Identité Visuelle</div>
        </div>
        <div class="flex flex-col items-center text-center">
          <h3>Ma promesse</h3>
          <div>Expérience Utilisateur (UX)</div>
          <div>Site Ultra-Rapide</div>
          <div>Identité Visuelle</div>
        </div>
      </div>
    </div>
  </section>
</Layout>
